<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>App Productos</title>
</head>
<style>
     body, html {
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

        .center-form {
            width: 100%; /* Ancho del formulario */
       

        }
</style>
<body>
    <div class="center-form">
       
        <form >
            <h1>Inicio de Sesion</h1>
            <!-- Email input -->
            <div class="form-outline mb-4" >
              <input type="email" id="Email" class="form-control" placeholder="Email"/>
             <!--  <label class="form-label" for="form2Example1">Email</label> -->
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="Contraseña" class="form-control"  placeholder="Contraseña"/>
          <!--     <label class="form-label" for="form2Example2">Contraseña</label> -->
            </div>
          
          
          
            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-block mb-4">Iniciar Sesion</button>
          
            <!-- Register buttons -->
            <div class="text-center">
              <p>si no tienes cuenta ? <a href="#!">Registrar</a></p>
             
            </div>
          </form>

    </div>
  
</body>
</html>